<%- include('../partials/head.ejs') %>

    <body>

        <body class="hold-transition sidebar-mini layout-fixed">
            <div class="wrapper">
                <!-- 
      <------navbar-------->
                <!-- end navbar -->

                <%- include('../partials/aside.ejs') %>

                    <!-- Content Wrapper. Contains page content -->
                    <div class="content-wrapper">
                        <!-- Content Header (Page header) -->

                        <section class="content">
                            <div class="container">





                                <div class="card">
                                    <div class="card-header bg-green">
                                        <div class="form-group-inline">
                                            <div class="float-left">
                                                <h5>RÁDIOS</h5>
                                                <h5>Total de rádios cadastrados:

                                                </h5>
                                            </div>
                                            <div class="float-right">
                                                <nav class="navbar navbar-light bg-info navbar-sm">

                                                    <div class="form-inline">
                                                        <form method="POST" action="/radios">
                                                          
                                                        </form>

                                                        <script>
                                                            function handleInput(e) {
                                                                var ss = e.target.selectionStart;
                                                                var se = e.target.selectionEnd;
                                                                e.target.value = e.target.value.toUpperCase();
                                                                e.target.selectionStart = ss;
                                                                e.target.selectionEnd = se;
                                                            }
                                                        </script>

                                                </nav>
                                            </div>

                                        </div>




                                    </div>
                                    <div>
                                        <div class="card-body container">
                                            <table class="table table-hover table-responsive" id="exemplo">
                                                <thead>
                                                    <tr>
                                                        <th>TOMBAMENTO</th>
                                                        <th>MARCA RÁDIO</th>
                                                        <th>MODELO RÁDIO</th>
                                                        <th>TIPO EQUIPAMENTO</th>
                                                        <th>MARCAS FONTES</th>
                                                        <th>TIPO ESTAÇÃO</th>
                                                        <th>TIPO FREQUÊNCIA</th>
                                                        <th>TECNOLOGIA</th>
                                                        <th>STATUS</th>
                                                        <th>SERIAL</th>
                                                        <th>AÇÃO</th>
                                                        
                                                    </tr>
                                                </thead>  
                                                <% radios.forEach(radio=> { %>
                                                    <tbody>
                                                        <tr>
                                                            <td>
                                                                <%= radio.id_tombamento %>
                                                            </td>
                                                            <td>
                                                                <%= radio.tmr_descricao %>
                                                            </td>

                                                            <td>
                                                               <%= radio.tm_descricao %>
                                                            </td>
                                                            <td>
                                                                <%= radio.te_descricao %> 
                                                            </td>
                
                                                            <td>
                                                                <%= radio.tmf_descricao %>
                                                            </td>

                                                            <td>
                                                                <%= radio.tes_descricao %>
                                                            </td>

                                                            <td>
                                                                <%= radio.tf_descricao %>
                                                            </td>

                                                            <td>
                                                                <%= radio.tt_descricao %>
                                                            </td>

                                                            <td>
                                                                <%= radio.ts_descricao %>
                                                            </td>

                                                            <td>
                                                                <%= radio.serie %>
                                                            </td>

                                                            <td class="col-1">

                                                            <a href="#" class="fa fa-edit text-blue"></a>
                                                            <a href="#" class="fa fa-trash text-danger"></a>
                                                            
                                                            </td>
                                                                
                                                            

                                                            <%=  %>
                                                               
                                                            
                                                               
                                                           
                                                        </tr>
                                                    </tbody>
                                                    <% }) %>
                                            </table>

                                        </div>
                                    </div>
                                    <div class="card-footer">

                                    </div>



                                </div>

                        </section>
                        <!-- right col -->
                    </div>
                    <!-- /.row (main row) -->
            </div><!-- /.container-fluid -->


            <footer class="main-footer footer navbar-fixed-bottom ">
                <div class="pagination justify-content-center">
                    <nav aria-label="Page navigation example">

                        <ul class="pagination">
                            <li class="page-item"><a class="page-link" href="#">Anterior</a></li>
                            <li class="page-item"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item"><a class="page-link" href="#">4</a></li>
                            <li class="page-item"><a class="page-link" href="#">Próxima</a></li>
                        </ul>
                    </nav>
                </div>
                <!-- <%- include('../partials/footer.ejs')%> -->
            </footer>
            <!-- jQuery -->
            <% include('../partials/cdn.ejs')%>


        </body>





        <!-- **************************************************************************************************** -->